<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="/static/style/err.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Courgette&display=swap" rel="stylesheet">
    <title>Error {{.ErrorCode}}</title>
</head>
<body>
    <main>
        <div class="content">
            <h1>Error {{.ErrorCode}}</h1>
            <h2>{{.ErrorTitle}}</h2>
            <p>{{.ErrorMessage}}</p>
            <a href="/Artists" class="to-artists-link">
                Back to Artists
                <span class="arrow">→</span>
            </a>
        </div>
    </main>
</body>
</html>
